/* Reset de Margens e Padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

:root {
    --rosa-geral: #f8ccd4;
    --azul-geral: #fefeff;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 100%;
    padding: 0;
    overflow-x: hidden;
}
/* Estilos do Header e Menu */
header {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1000;
}

div.menu {
    background-color: white;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    top: 0;
    padding: 0%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    margin-left: 0px;
}

img.logo{
    margin-left: 10px;
    width: 125px;
    height: 90px;
    margin-right: 20px;
}

/* nav bar */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a.menu-link {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

nav a.menu-link:hover {
    background-color: var(--rosa-geral);
    border-radius: 20px; 
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o Main */
main {
    padding-top: 50px; /* Ajuste para o header fixo */

}

section {
    padding: 0em;
    margin-left: -35px;
    margin-right: -30px;
}

/* Estilos para Imagens na Home */
#home img {
    width: 100%;
    margin-left: 2px;
    height: auto;
}

/* Estilos para a Seção de Associação */
#assoc {
    display: flex;
    flex-direction: row;
    margin-top: -4px;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa-geral);
}

div.hist {
    margin: 0 100px;
    background-color: rgb(245, 207, 213);
    padding: 20px;
}

h2.hist {
    text-align: center;
    padding-top: 20px;
}

p.hist {
    padding: 30px;
    text-align: justify;
}

.historia{
    width: 115%;
    height: 115%;
}

/* Estilos das Seções Internas */
h2 {
    text-align: center;
}

section {
    background-color: var(--azul-geral);
}

/* Estilos para a Seção de Denúncias */
#denuncie {
    background-color: rgb(188, 214, 206);
    text-align: center;
    padding: 50px 0;
    margin-right: -32px;
}

h2.denuncia {
    margin: 0;
}

p.app {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 50px;
}

/* Estilos do Container de Contador */
#container-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: -30px;
    width: 100%;
    padding: 33px;
    background-color: var(--rosa-geral);

    & h3 {
        color: #000000;
        font-size: 200%;
        padding-top: 30px;
    }

    & iframe {
        margin-top: -30px 0px;
        padding: 20px;
        width: 80%;
    }
}

/* Estilos do Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    padding-right: 49px;
    margin-left: -33px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.endereco {
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: 20px;
}